*{
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    background-color: #f0f0f0;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin: auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: #0598ce;
}

header h1{
    width: 100%;
    margin: auto;
}

.header-input{
    margin: auto;
    width: 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5;
    list-style-type: none;
}

.profile-btn{
    height: 30px;
    width: 100px;
}

.search-bar{
    width: 100%;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 3px;
}


.logo{
    height: 128px;
    width: 128px;
    background-color: blue;
}



.shop{
    display: flex;
    width: 70%;
    gap: 10px;
    margin: auto;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1.5;
    gap: 10px;
    width: 60%;
}

.grid-item{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.grid-item-desc{
    width: 70%;
}

.grid-item-header h2{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.grid-item-info{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 1.25rem;
}

.grid-item-header{
    width: 100%;
}

.grid-item-desc p{
    font-size: 0.6rem;
}

.grid-item h2{
    font-size: 1rem;
}

.grid-price{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
}

.grid-price button{
    width: 90%;
    height: 30px;
    background-color:  	#113768;
    color: white;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
}

.grid-price p{
    font-size: 2rem;
    font-weight: 500;
    margin: 0.2rem;
}

.grid-price span, .grid-price button{
    margin: 0.2rem;
}

.grid-price span{
    font-size: 0.7rem;
    color: #0598ce;
}

.prod-img{
    height: 100%;
    width: 30%;
}

img{
    max-width: 100%;
    max-height: 100%;
}


li{
    font-size: 1.2rem;
    font-weight: 500;
}

.banner{
    width: 100%;
    height: 200px;
    background-color: red;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #0598ce;
    color: white;
    margin: 20px 0 0 0;
}

.footer ul{
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding: 0;
}

.footer li{
    font-size: 1rem;
}

