*{
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    background-color: #f0f0f0;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin: auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    color: black;
}

header h1{
    width: 100%;
    margin: auto;
}

.header-input{
    margin: auto;
    width: 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5;
    list-style-type: none;
}

.profile-btn{
    height: 30px;
    width: 100px;
}

.search-bar{
    width: 100%;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
}


.logo{
    height: 128px;
    width: 128px;
    background-color: blue;
}

.shop{
    display: flex;
    width: 70%;
    gap: 10px;
    margin: auto;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 60%;
    gap: 10px;
}

.grid-item{
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    width: 24%;
    border: 2px solid  #D3D3D3;
    border-radius: 5px;
}

.grid-item-info{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    color: black;
}

.grid-item-header{
    width: 100%;
}

.grid-item-header h2{
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;

}

.grid-item-header .rating{
    text-align: center;
}

.grid-item-desc{
    padding: 5px;
    text-align: left;
}

.grid-item-desc p{
    font-size: 0.825rem;
    margin: 5px 0 5px 0;
}

.grid-item h2{
    font-size: 1.5rem;
}

.grid-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.grid-price button{
    width: 50%;
    height: 30px;
    background-color:white;
    color: #0598ce;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 10px;;
    margin: 5px 0 5px 0;
    }

.grid-price p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.2rem;
    color: black;
    text-align: center;
}

.grid-price span{
    font-size: 0.7rem;
    color: #0598ce;
    text-align: center;
}

#grid-checkout{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 80%;
}

#grid-counter{
    display: flex;
    align-items: center;
}

#grid-counter-btn{
    display: flex;
}

#grid-counter-btn button{
    border-radius: 0;
}

.prod-img{
    width: 100%;
    margin: auto;
}

.prod-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


li{
    font-size: 1.2rem;
    font-weight: 500;
}

.banner{
    width: 100%;
    height: 200px;
    background-color: red;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #0598ce;
    color: white;
    margin: 20px 0 0 0;
}

.footer ul{
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding: 0;
}

.footer li{
    font-size: 1rem;
}

#cart{
    color: black;
}

